<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10807302565-9e2ejkkjlad9aelccrj6p8et7ns2pgio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10807302565-9e2ejkkjlad9aelccrj6p8et7ns2pgio</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>10807302565-hmja2gn64fnkg3eq19q0o6415rjv25io.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRa4ip6gItURNL4bpC2ePkYtPE9otrfVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>10807302565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ntsaraLocal</string>
	<key>PROJECT_ID</key>
	<string>flutterchat-d8466</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchat-d8466.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10807302565:ios:bb86188a55de8813e1704c</string>
	<key>DATABASE_URL</key>
	<string>https://flutterchat-d8466-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>